#calculadora {    
    width: 250px;
    margin: 100px auto 10px;
    padding: 16px 12px;

    border: 5px solid #000;
    border-radius: 20px;
}

#calculadora #calculadora-wrapper {
    width: 100%;
    margin: 0 auto;
}

#calculadora .opcoes {
    display: flex;
    padding: 0 4px;
    align-items: center;
}

#calculadora .opcoes p{
    font-size: 20px;
    margin: 0 0 8px 8px;
}


#calculadora .interruptor {
    margin-bottom: 8px; 
    position: relative;
    display: block;
    width: 60px;
    height: 34px;
}
  
#calculadora .interruptor input {
    opacity: 0;
    width: 0;
    height: 0;
}

#calculadora .deslizante {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}
  
#calculadora .deslizante:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}
  
#calculadora input:checked + .deslizante {
    background-color: #2196F3;
}
  
#calculadora input:focus + .deslizante {
    box-shadow: 0 0 1px #2196F3;
}
  
#calculadora input:checked + .deslizante:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

#calculadora #calculadora-wrapper #display{
    width: 100%;
    padding: 0 4px;
}

#calculadora #calculadora-wrapper #display #input-display {
    width: 100%;
    padding: 8px 4px;
    font-size: 20px;
    border: 2px solid #000;
    border-radius: 20px;
    color: #000;
}

#calculadora #calculadora-wrapper #teclado {
    width: 100%;
    margin: 0 auto;
}

#calculadora #calculadora-wrapper #teclado .teclado-linha {
    padding-top: 10px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

#calculadora #calculadora-wrapper #teclado .teclado-linha button {
    width: 50px;
    height: 50px;
    margin: 0 4px;
    font-size: 25px;
    cursor: pointer;

    border: 2px solid #0005;
    border-radius: 20px;
}

#calculadora #calculadora-wrapper #teclado .teclado-linha:first-child button:nth-child(4) {
    background-color: red;
}

#calculadora #calculadora-wrapper #teclado .teclado-linha:last-child button {
    width: 100%;
    background-color: green;
}