/*CARRINHO DE COMPRAS*/
#modalCarrinho{
    display: none;
    position: absolute;
    top: 11%;
    left: 10%;
    right: 10%;
    width: 80vw;
    background-color:#E4C54A;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 8px 8px 8px 8px black;
    padding: 0;

}
/* Cabeçalho do Modal Carrinho */
.headercarrinho{
    width: 100%;
    text-align: center;
    font-size: 25pt;
    color:   #0C2222;
    
}
/* Tamanho e borda da Tabela dentro do modal */
table {
    border-collapse: collapse;
    border         : 3px solid rgba(232, 220, 167, 0.8);
    width          : 100%;
}
/* Cor das colunas dentro da tabela */
table th {
    background-color: rgb(214, 214, 214);
}
/* Alinhamento de colunas e linhas em relação a tabela e alinhamento do texto a esquerda dentro da tabela */
table th,
td {
    padding   : 1px 5px;
    text-align: left;

}
/* Tamanho da imagem lixeira dentro da tabela e a utilização do cursor pointer para alterar o ponteiro do mouse quando passar pela lixeira */
table td img {
    cursor: pointer;
    width : 22px;
}
/* Alinhamento do button continuar comprando dentro do modal */
#but1 {
    float   : left;
    margin-top: 20px;
}
/* Alinhamento do button concluir dentro do modal */
#but2 {
    float: right;
    margin-top: 20px;
  

}
.anime hover{
    opacity: 1;
    transition: .3s;
}
/* #car{
    font-size: 20pt;
    background-color: rgba(232, 220, 167, 0.8);
}
#cart{
    font-size: 15pt;
    background-color: rgba(232, 220, 167, 0.8);
} */
/* Alinhamento da imagem cesto 1 dentro do modal carrinho */
#cesto1{
    position: absolute;
    padding: 98px;
    margin-left: 800px;

}
/* Alinhamento da imagem cesto 2 dentro do modal carrinho */
#cesto2{
    left: 0;
    position: absolute;
    padding: 98px;
    margin-right: 50px;
}

