/*Nesta folha de estilo estão as estilizações relacionadas com as id's*/

/*Estilização do texto no index*/
#textoindex {
    text-align: justify;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell;
    color: #11302E;
    font-size:large;
    font-weight: 550;
}

#fieldset {
    padding-left: 10px;
}
/*Estilização da figura no index*/
#figureindex {
    float:left;
    padding: 1.5625em;
}

/*Estilização da legenda da figura no index*/
#figcaptionindex {
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell;
    font-weight: normal;
    text-align: center;
    font-size: 0.875em;
}

/*Estilização para formulário na formulario.html*/
#formulario {
    background-color: rgba(232, 220, 167, 0.2);
    box-shadow: 10px 10px 10px rgba(232, 220, 167, 0.2);
    color: #11302E;
    text-shadow: 1px 1px #027970;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell;
    font-weight: bold;
    padding: 10px 20px;
    margin: 10px 10px;
}


