* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

/*ESTILIZAÇÃO DO BODY*/
body {
    background-image: url(../Imagens/background2.png); 
    overflow-x: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
    
}

header {
    height: 70px;
    padding-bottom: 22rem;
    
}

header>.menuHamburguer {
    position: absolute;
    top: 15px;
    left: 20px;
    z-index: 2;
}

header>.menuHamburguer a img.icone_menu{
    transition: 1s ease;
} 

header>.menuHamburguer a img.icone_menu:hover{
    opacity: 0.5;
} /* O hover nã está funcionando -- Bianca */

nav.menu {
    width: 16%;
    background-color: #11302E;
    min-height: calc(40vh - 40px);
    position: absolute;
    left: -300px;
    transition: .3s all;
    border-radius: 0 10px 10px 0;
}

nav.menu>a {
    display: block;
    padding: 5px;
    margin: 15px 0 0px 20px;
    font-weight: bold;
    font-size: 1.2rem;
    color: #E4C54A;
    text-transform: uppercase;
}

nav.menu>a:first-child{
    padding-top: 70px;
} 

.exibe_menu {
    left: 0 !important;
}

/*CARRINHO DE COMPRAS*/
/* .carrinho {
    display: flex;
    align-items: center;

} */

/*CARRINHO E ENTRAR*/
.autenticacao {
    position: absolute;
    right: 20px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.autenticacao a {
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: bold;
    font-variant: small-caps;
    color: rgba(228, 197, 74, 1);
    margin: 4px 20px;
    text-align: center;
}

/* SECTION LOGO */
.logo img{
    height: 200px;
    position: absolute;
    left: 10px;
    top: 15px;
}

/* MAIN */
main{
    width: 70%;
    display: flex;
    flex-direction: column;
    margin: auto;
}
/* SECTION */
#banner {
    margin: auto;
    width: 100%;
    height: 32vh;
    border: 2px solid rgb(38, 66, 50);
    background-size: 100%;
    background-repeat:no-repeat;
    background-position:center;
    border-radius: 20px;
    opacity: 0.95;
    z-index: 3;
}

#btnAnte,
#btnProx {
    line-height: 300px;
    cursor: pointer;
}

#btnAnte {
    float: left;
}

#btnProx {
    float: right;
}

#botoes {
    position: absolute;
    bottom: 190px;
    left: 49%;
}

/* SECTION TEXTO */
.index-texto{
    margin-top: 20px;
    width: 100%;
    color: rgba(17, 48, 46, 1);
    padding: 1.5rem;
    text-align: justify;
    font-size: 1.3rem;
    line-height: 32px;
    border-radius: 20px;
    opacity: 0.9;
    background-color: #E8DCBB;
}


/* FOOTER */
footer {
    background-color: rgba(99, 0, 80, 0.1);
    /* box-shadow: inset 0 0 2em rgba(99, 0, 80, 0.2); */
}

.img-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    gap: 1rem;
}

.img-footer img {
    width: 15vw;
    border-radius: 20px;
}

.info-footer {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    gap: 2rem;
}

.info-footer .copyright {
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell;
    line-height: 1.2rem;
    text-align: center;

}

.info-footer .copyright a {
    color: rgba(99, 0, 80, 0.8);
    font-weight: bold;
}



/*RESPONSIVIDADE DO INDEX*/
@media screen and (max-width: 1024px) {
    article.content {
        width: 100%;
        margin-left: 0;
    }

    nav.sidebar {
        left: -30%;
    }

    .close_sidebar {
        display: block;
    }

    div.show_sidebar {
        display: block;
    }

    .carrinho a img {
        width: 50px;
        height: 50px;
    }

    .autenticacao a {
        width: 110px;
        text-align: center;
        margin-right: 10px;
        text-decoration: none;
        font-size: 1.2rem;
    }


}

/*ESTA RESPONSIVIDADE SUPORTA ENTRE 768 E 320px*/
@media screen and (max-width: 768px) {

    /* RESPONSIVIDADE DA NAV */
    nav {
        position: static;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
    }

    .nav-bar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-top: 70px;
        margin-right: 0;
    }

    .nav-bar .decoracao {
        margin-top: 1rem;
    }

    .nav-bar li a {
        font-size: 5vw;
        display: flex;
        flex-wrap: nowrap;
        font-variant: small-caps;
    }

    .carrinho {
        position: relative;
        left: 0px;
        flex-direction: column;
        align-items: center;
        align-content: center;
        padding-bottom: 150px;
    }

    .autenticacao {
        flex-direction: row;
    }

    .autenticacao a {
        width: 110px;
        display: flex;
        padding: 0;
        align-items: center;
        margin-top: 30px;
        margin-bottom: 20px;
    }

    .autenticacao a:nth-child(1) {
        justify-content: right;
    }

    .autenticacao a:nth-child(2) {
        justify-content: left;
    }

    /* RESPONSIVIDADE DO HEADER */
    header {
        width: 100vw;
        height: 12vh;
        margin: 1.5rem 0;
    }

    h1 {
        font-size: 7vw;
        margin-bottom: 10px;
    }

    h2 {
        font-size: 4vw;
        line-height: 5vw;
    }


    /* RESPONSIVIDADE DO MAIN */
    main {
        width: 95vw;
        height: 100%;
        display: flex;
        margin: auto;
        padding: 0.8rem;
        flex-direction: column;
        justify-content: space-around;

    }

    .index-figure img {
        width: 85vw;
    }

    .index-texto {
        padding-top: 0.5rem;
        width: 85vw;
        font-size: 16px;
        line-height: 24px;

    }

    /* SETA SUBIR */
    #subir {
        justify-content: center;
    }

    #subir img {
        width: 9vw;
        height: 6vh;
    }

    /* RESPONSIVIDADE DO FOOTER */
    footer {
        background-color: rgba(99, 0, 80, 0.1);
        /* box-shadow: inset 0 0 2em rgba(99, 0, 80, 0.2); */
    }

    .img-footer {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        gap: 1rem;
    }

    .img-footer img {
        width: 35vw;
        border-radius: 10px;
    }

    .info-footer {
        display: flex;
        justify-content: center;
        padding: 5px;
        gap: 1rem;
    }

    .info-footer .copyright {
        font-size: 10px;
        line-height: 0.8rem;
    }

    .info-footer .footer-redessociais img {
        width: 7vw;
    }
}

/* Toda a responsividade anterior funciona entre 768 e 320px, com exceção do header height. Para a cascata funcionar, retornei aqui no fim a responsividade deste único elemento */
@media screen and (max-width: 425px) {
    header {
        height: 20vw;
    }

    /* SETA SUBIR */
    #subir img {
        width: 8vw;
        height: 4vh;
    }
}

/* Color Theme Swatches in Hex */
.My-Color-Theme-1-hex {
    color: #630050, #FFBAF2, #FFD1FF, #0C2222 #11302E, #29873E, #62771F,
     #BCAC4E, #E8DCBB, #FAE8C7 #E9DC82, #E4C54A, #F0A941, #ff993a,
      #f37e30
}