*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none; /*TROUXE A LIST-STYLE PARA O RESET*/
    text-decoration: none; /*TROUXE O TEXT PARA O RESET*/
}

/*ESTILIZAÇÃO DO BODY*/
body{
    background-color: rgba(232, 220, 167, 0.45);
    overflow-x: hidden;
}

/*MENU DE NAVEGAÇÃO*/
nav{
    width: 100vw;
    height: 4.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:  rgba(17, 48, 46, 1);
    position: fixed;
    top: 0;
}

/*Estilização da ul com class .nav-bar*/
.nav-bar{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin-right: 8rem; 
}

/* Estilização dos ramos decorativos */
.nav-bar .decoracao{
    display: flex;
    align-items: center; 
}

/*Estilização do li com class .li-menu + a*/
.li-menu a{
    color: rgba(228, 197, 74, 1);
    padding: 0 0.8rem;
    text-decoration: none;
    font-variant: small-caps;
    font-size: 2rem;
    font-weight: bolder;
    margin-top: 1rem;
    margin-left: 0.5rem;
}
/*CARRINHO DE COMPRAS*/
.carrinho{
    display: flex;
    align-items: center;
    position: absolute;
    right: 20px;
    margin: auto;
    cursor: pointer;
}
/*LOGIN E CADASTRE-SE*/
.autenticacao{
    display: flex;
    flex-direction: column;
}
.autenticacao a{
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: bold;
    font-variant: small-caps;
    color: rgba(228, 197, 74, 1);
    margin: 4px 20px;
    text-align: center;
}

/* HEADER */
header{
    display: flex;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell;
    align-content: center;
    justify-content: center;
    width: 100vw; 
    height: 9vw; 
    text-align: center;
    margin-top: 110px; 
}

header h1 {
    font-size: 3vw;
    font-weight: bolder;
    font-style: italic;
    margin-bottom: 20px;
    /* margin: 0.5rem; */
    color:  rgba(99, 0, 80, 1);
    
}

header h2 {
    line-height: 2vw;
    font-weight: bold;
    /* padding: 0.6rem; */
    color:  rgba(99, 0, 80, 0.4);
}

/* MAIN */

main{
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell;
    width: 80vw; 
    align-items: center;
    text-align: justify; 
    margin: auto;
    /* margin-top: 2.30rem; */
    border-radius: 20px;
}

/*estilização usando a classe grid-container para cards de produtos na pagina2*/
.grid-container {
    margin: auto;
    width: 70vw;
    height: auto;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-items: center;
    align-items: center;
    gap: 0.7rem;
    padding: 15px;
    color:rgba(232, 220, 167, 1);
    text-shadow: 0 0 5px rgba(99, 0, 79, 1);
    box-shadow: 0 0 5px rgba(99, 0, 79, 1);
    box-sizing: border-box;
    border-radius: 20px;
}
  
  /*estilização usando para os itens dentro do container*/
.grid-container div {
    background-color: rgba(99, 0, 79, 0.205);
    align-self: center;
    text-align: center;
    padding: 10px;
    font-size: 1.3rem;
    width: 96%;
    height: 100%;
    border-radius: 20px;
}

.grid-container div:hover{
    border: 4px rgba(99, 0, 79, 0.5);
    box-shadow: 0 0 5px rgba(99, 0, 79, 1);
    border-style: ridge;
    
}

.grid-container div img{
    width: auto;
    height: 15vh;
    padding: 10px;
}

input[type="number"]{
    margin: auto;
    width: 150px;
    padding: 0.6em;
    color:rgba(17, 48, 46, 1);
    background-color: rgba(232, 220, 167, 0.45);
    border: 2px solid rgba(232, 220, 167, 0.45);
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: 2px 2px 2px rgba(232, 167, 192, 0.4);
    display: block;
}

input:focus, select:focus, textarea:focus {
    padding: 0.5em;
    border: 2px solid rgba(99, 0, 80, 0.280);
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: 2px 2px 2px rgba(232, 220, 167, 0.8);
    background: rgba(232, 220, 167, 1);
}


.botoes{
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell;
    font-size: larger;
    font-weight: bold;
    text-align: center;
    font-size: 1.4rem;
    color: rgba(232, 220, 167, 1);
    box-shadow: 2px 2px 5px rgba(232, 220, 167, 1);
    background-color: rgba(17, 48, 46, 1);
    border: 3px solid rgba(17, 48, 46, 1);
    border-radius: 5rem;
    padding: 6px 16px;
    margin: 25px 15px;
    cursor: pointer;    
}

button a{
    color: rgba(232, 220, 167, 1);
}

button:hover{
    background-color: rgba(232, 220, 167, 1); 
    color: rgba(17, 48, 46, 1);
}

button a:hover{
    background-color: rgba(232, 220, 167, 1); 
    color: rgba(17, 48, 46, 1);
}


/* SETA SUBIR */
#subir{
    display: flex;
    justify-content:end;
    margin: 20px;
    margin-top: 35px;
}

/* FOOTER */
footer{
    background-color:rgba(99, 0, 80, 0.1);
    /* box-shadow: inset 0 0 2em rgba(99, 0, 80, 0.2); */
}

.img-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    gap: 1rem;
}

.img-footer img{
    width: 15vw;
    border-radius: 20px;
}

.info-footer{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    gap: 2rem;
}

.info-footer .copyright{
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell;
    line-height: 1.2rem;
    text-align: center;
    
}

.info-footer .copyright a{
    color: rgba(99, 0, 80, 0.8);
    font-weight: bold;
}



/*RESPONSIVIDADE DO INDEX*/
@media screen and (max-width: 1024px){
    /* RESPONSIVIDADE DA NAV */
    nav{
        justify-content: space-between;
        align-items: center;
        padding: 10px 10px 0;
    }

    .li-menu a{
        font-size: 1.4rem;
    }
    .carrinho a img{
        width: 50px;
        height: 50px;
    }
    .autenticacao a{
        width: 110px;
        text-align: center;
        margin-right: 10px;
        text-decoration: none;
        font-size: 1.2rem;
    }
}

/*ESTA RESPONSIVIDADE SUPORTA ENTRE 768 E 320px*/
@media screen and (max-width: 768px) {
    /* RESPONSIVIDADE DA NAV */
    nav{
        position: static;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
    }

    .nav-bar{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-top: 70px;
        margin-right: 0;
    }

    .nav-bar .decoracao{
        margin-top: 1rem;
    }

    .nav-bar li a{
        font-size: 5vw;
        display: flex;
        flex-wrap: nowrap;
        font-variant: small-caps;
    }

    .carrinho{
        position:relative;
        left: 0px;
        flex-direction: column;
        align-items: center;
        align-content: center;
        padding-bottom: 150px;
    }

    .autenticacao{
        flex-direction: row;
    }

    .autenticacao a{
        width: 110px;
        display: flex;
        padding: 0;
        align-items: center;
        margin-top: 30px;
        margin-bottom: 20px;
    }

    .autenticacao a:nth-child(1){
        justify-content: right;
    }

    .autenticacao a:nth-child(2){
        justify-content: left;
    } 

    /* RESPONSIVIDADE DO HEADER */
    header{
        margin-top: 18px;
        margin-bottom: 30px;
    }
    header h1 {
        font-size: 9vw;
    }
    
    header h2 {
        font-size: 5vw;
        line-height: 5.5vw;
    }
    
    /* RESPONSIVIDADE DO MAIN */
    /* MAIN */
    main{
        font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell;
        width: 95vw; 
        align-items: center;
        text-align: justify; 
        margin: auto;
        /* margin-top: 2.30rem; */
        border-radius: 20px;
    }
    /*Estilização do grid-container*/
    .grid-container {
        width: 90vw;
        height: auto;
        display: grid;
        grid-template-columns: auto;
        box-shadow: none;
    }
      
    /*Itens do container*/
    .grid-container div {
    border: solid 2px rgba(99, 0, 79, 0.30);
    }
    
    /*Imagens do container*/
    .grid-container div img{
        width: auto;
        height: 20vh;
        padding: 10px;
    }

    
    /* BOTÕES FORMULÁRIO */

    .botoes{
    display: flex;
    flex-direction: column;
    }

    .botoes a input{
    font-size: 1rem;
    padding: 8px 15px;
    margin: 20px 10px;
}    

    /* SETA SUBIR */
    #subir{
        justify-content: center; 
    }

    #subir img{
        width: 10vw;
        height: 5vh; 
    }

    /* RESPONSIVIDADE DO FOOTER */
    footer{
        background-color:rgba(99, 0, 80, 0.1);
        /* box-shadow: inset 0 0 2em rgba(99, 0, 80, 0.2); */
    }
    
    .img-footer{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        gap: 1rem;
    }
    
    .img-footer img{
        width: 35vw;
        border-radius: 10px;
    }
    
    .info-footer{
        display: flex;
        justify-content: center;
        padding: 5px;
        gap: 1rem;
    }
    
    .info-footer .copyright{
        font-size: 10px;
        line-height: 0.8rem;        
    }
    
    .info-footer .footer-redessociais img{
        width: 7vw;
    }
}

    /* Toda a responsividade anterior funciona entre 768 e 320px, com exceção do header height. Para a cascata funcionar, retornei aqui no fim a responsividade deste único elemento */
@media screen and (max-width: 768px) {
    header{
        height: 20vw;
    }

        /* SETA SUBIR */
    #subir img{
        width: 8vw;
        height: 5vh; 
    }
}

