/*Nesta folha de estilo estão as estilizações relacionadas com as tags semânticas e classes*/

/*Estilização para o <html></html>*/
*{
    margin: 0;
    padding: 0;
}

/*Estilização para o body*/
body {
    margin: 0;
    padding: 0;
    background-image: url(../Imagens/mint1.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;
    background-attachment: fixed;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell;
}

/*Estilização para o header*/
header {
    text-align: center;
    width: 100%;
    height: 9em;
}

/*Estilização para a nav*/
nav {
    width: 100%;
    height: 4.5em;
    background-color: #630050;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    position: fixed;
    top: 0;
}


/*Estilização para o main*/
main {
    width: 60%;
    height: auto;
    margin: auto;
    background-color: rgba(99, 0, 80, 30%);
    box-shadow: 10px 10px 70px rgba(99, 0, 80, 60%);
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell;
}

/*Estilização para o article*/
article{
    width: 100%;
    height: 43.75em;   
}

/*Estilização para o aside*/
aside {
    width: 25%;
    height: 6.25em;
}

/*Estilização para o footer*/
footer{
    width: 100%;
    height: 13.125em;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 1.25em 1.5625em;
    background-color: #E8DCA7;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/*Estilização para paragrafos*/
p {
    text-align: justify;
    line-height: 1.2;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell;
    font-weight: normal;
    padding: 1.5625em;
}

/*Estilização para h1*/
h1 {
    line-height: 1;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell;
    font-weight: bolder;
    font-style: italic;
    margin: 0.5em;
    
}

/*Estilização para h2*/
h2 {
    line-height: 1;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell;
    font-weight: bold;
    padding: 0.6em;
}

/*Estilização para lista ordenada, que compõe a nav*/
li {
    display: inline;
    padding: 0.3em;
    font-size: 150%;    
    align-items:center;
    border: 0.25em solid #630050;
    /*background-color: rgba(99, 0, 80, 70%);*/
    border-radius: 3.125em;
}

/*Estilização para a classe autenicacao, relacionada aos links login e cadastre-se*/
.autenticacao {
    display: flex;
    margin-right: 5px;
}

/*classe para estilizar botões de toda a pagina*/
.buttons {
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell;
    font-size: larger;
    font-weight: bold;
    border: 1px solid rgb(99, 0, 80);
    box-shadow: 5px 5px 15px rgba(99, 0, 80, 0.7);
    background-color: #630050;
    color: #E8DCA7;
    border-radius: 5em;
    padding: 10px 20px;
    margin: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    cursor: pointer;    
}

a:link {
    color: #E8DCA7;
    text-decoration: none;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell;
    font-weight: bold;
	}
a:visited { 
	font-weight: bold; 
	text-decoration: none; 
	color: #E8DCA7;
	}
a:hover, a:focus, a:active{
    padding: 10px 20px;
    margin: 10px 10px;
    font-size: smaller;
    font-weight: bold;
	text-decoration: none; 
	color: #E4C54A;
}

/*classe para ajustar a imagem do carrinho de compras*/
.carrinho{
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
    top: 0;
}

/*classe para centralizar botões limpar, proxima etapa (pagina2) e botões enviar e limpar(formulario1)*/
.centralizarbotoes{
    display: flex;
    justify-content: center;
}
/*estilização usando a classe grid-container para cards de produtos na pagina2*/
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 15px;
    background-color: rgba(17, 48, 46, 0.3);
    padding: 25px;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell;
    color:#E8DCA7;
  }
  
  /*estilização usando para os itens dentro do container*/
  .grid-container div {
    background-color: rgba(99, 0, 80, 1);
    text-align: center;
    padding: 10px;
    font-size: 1.4em;
    width: 95%;
    height: 95%;
  }

.footer-classitem {
    text-align: justify;
    justify-content: center;
}

.greenbanner {
    width: 250px;
    height: 190px;
    border-radius: 100%;
}

.imgfooter {
    width: 200px;
    height: 625%;
}

.nav-footer{
    display:;
    padding: 0.3em;   
    align-items:center;
}

li .nav-footer .menu-footer .a:link{
    display: flex;
    co
}


    
/*estilização para corrigir defeito no fieldset do formulario1*/
form fieldset legend{
    margin-left: 15px;
}

img {
max-width: 100%;
height: auto;
}


/*@media(max-width: 768px) {
    nav {
        font-size: 70%;
        width: 100%;
        height: 50px;
    
    }
    header {
        font-size: 70%;
    }
} */


/* Color Theme Swatches in Hex */
.My-Color-Theme-1-hex { color: #027970; }
.My-Color-Theme-2-hex { color: #630050; }
.My-Color-Theme-3-hex { color: #194542; }
.My-Color-Theme-4-hex { color: #E4C54A; }
.My-Color-Theme-5-hex { color: #E8DCA7; }


